#pictureUrl {
    margin: 0 auto;
    width: 32%;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    box-align: center;
    -moz-border-radius: 256px;
    -webkit-border-radius: 256px;
    border-radius: 256px;
}
h1{
    font-size: 20px;

}
#accessToken #userID{
    display: block;
}

.word-wrap {
    word-wrap: break-word;
}
.list-group-item {
    font-size: 14px;
    height: 40px;
    padding: 10px;
}
.list-group {
    font-size: 1rem;
    
}
.list-group .active {
    background-color: cadetblue;
    border: 0 none;
}